@font-face {
    font-family: 'omnesmedium';
    src: url('../fonts/omnes_medium-webfont.woff2') format('woff2'),
         url('../fonts/omnes_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'omnessemibold';
    src: url('../fonts/omnes_semibold-webfont.woff2') format('woff2'),
         url('../fonts/omnes_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}



p{
	color: #646464;
}

h1, h2, h3, h4, h5, h6{
	color:#717171;
	font-family: 'omnessemibold';
}

a{
	text-decoration: none;
}

h1{
	font-size: 140%;
}

h2{
	font-size: 120%;
}

h3{
	font-size: 110%;
}

h4{
	font-size: 105%;
}

h5{
	font-size: 90%;
}

h6{
	font-size: 80%;
}

.row{
	width: 980px;
	margin: 0 auto;
}
