/* Header css */
header{
	height: 56px;
	padding: 30px 0 0 0;
}

header .logo img{
	border-right: 1px solid #ddd;
}

header nav ul li{
	display: inline-block;
}

header nav ul li a{
	padding: 0 20px 37px 20px;
	display: block;
	text-align: center;
	color: #646464;
	text-decoration: none;
}

header nav ul li a:hover{
	color: #717171;
	border-bottom: 3px solid #fe0000;
}

header .carrito{
	font-size: 150%;
}

header .carrito a{
	color: #646464;
	border: 2px solid #646464;
	border-radius: 25px;
	padding: 5px 15px;
	display: block;

}

header .logo, header nav{
	float: left;
}

header .carrito{
	float: right;
}
