@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@font-face {
    font-family: 'omnesmedium';
    src: url('../fonts/omnes_medium-webfont.woff2') format('woff2'),
         url('../fonts/omnes_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'omnessemibold';
    src: url('../fonts/omnes_semibold-webfont.woff2') format('woff2'),
         url('../fonts/omnes_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	font-family: 'Raleway', sans-serif;
}

@import url('header.css');